* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background: $body-bg url("../img/bg-pattern.png");
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 900;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	font-family: $font-core;

	@media (min-width: $screen-xs-min) {

		span {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 34px;
		line-height: 44px;
	}
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}



.content {
	padding-top: 40px;
	background: url("../img/green-block-bg.png") 50% 0 no-repeat;
	background-size: cover;

	.center-block {
		max-width: 485px;
		padding-bottom: 30px;

		.center-block-inner {
			padding: 0 15px;
		}

		.text {
			width: 100%;
			font-size: 17px;
			font-weight: 900;
			padding: 20px 15px;
			text-align: center;
			max-width: 360px;
			margin: 0 auto -10px auto;
			font-family: $font-core;

		}

		.content-title {
			width: 100%;
			height: 100px;
			color: #521da2;
			display: table;
			font-size: 24px;
			line-height: 30px;
			font-weight: 700;
			padding-left: 100px;
			margin-bottom: 5px;
			font-family: $font-core;
			background: url("../img/paint.png") 0 50% no-repeat;

			span {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.advantage {
			margin: 0;
			padding: 0;
			list-style: none;
			counter-reset:li;

			li {
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				line-height: 22px;
				position: relative;
				margin-bottom: 10px;
				font-family: $font-core;
				padding: 5px 0 5px 43px;

				&:before {
					top: 0;
					left: 0;
					color: #fff;
					width: 31px;
					height: 33px;
					font-size: 18px;
					line-height: 20px;
					text-align: center;
					position: absolute;
					padding-top: 5px;
					content:counter(li);
					counter-increment:li;
					background: url("../img/list-num-bg.png") 0 0 no-repeat;
				}
			}
		}
	}

	.left-col,
	.right-col {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {

		.center-block {
			width: 482px;

			.text {
				height: 160px;
				display: table;
				max-width: inherit;
				padding: 25px 45px;
				background: url("../img/text-green-bg.png") 50% 0 no-repeat;

				.text-inner {
					display: inline-block;
					vertical-align: middle;
				}
			}

			.center-block-inner {
				padding: 0 15px 0 25px;
			}

			.advantage {

				li {

				}
			}
		}

		.left-col {
			float: left;
			margin-left: 40px;
		}

		.right-col {
			float: right;
			margin-right: 40px;
		}
	}

	@media (min-width: $screen-md-min) {

		.left-col,
		.right-col {
			margin-bottom: 0;
		}

		.left-col {
			bottom: 0;
			left: 15px;
			float: inherit;
			margin-left: 0;
			position: absolute;
		}

		.right-col {
			bottom: 0;
			right: 15px;
			float: inherit;
			margin-right: 0;
			position: absolute;
		}

	}



	@media (min-width: $screen-lg-min) {

		background-size: auto auto;

		.left-col {
			left: 80px;
		}


		.right-col {
			right: 80px;
		}

		.center-block {

			.content-title {
				margin-left: -10px;
			}
		}
	}
}

.btn-close {
	color: #000;
	right: 8px;
	top: 8px;
	cursor: pointer;
	position: absolute;
}


.done {
	color: #000;
	font-size: 16px;
	text-align: center;
	padding: 100px 20px;

	.done-title {
		color: #3b8575;
		display: block;
		font-size: 30px;
		margin-bottom: 40px;
	}
}