.b03 {
	padding-top: 30px;
	padding-bottom: 290px;
	background: #fff url("../img/b03_bg.jpg") 50% 100% no-repeat;

	h2 {
		margin-bottom: 15px;
	}

	.gallery {
		max-width: 300px;
		margin: 0 auto;

		.gallery-img {
			display: block;
			margin-bottom: 10px;
			border: 10px solid #fff;
			@include box-shadow(0px 9px 15px 0px rgba(0, 0, 0, 0.16));
		}
	}

	@media (min-width: $screen-sm-min) {

		h2 {
			font-size: 40px;
			margin-bottom: 15px;
		}


		.gallery {
			max-width: 940px;
		}
	}
}