.b06 {
	padding-top: 50px;
	position: relative;
	background: url("../img/b06_top.png") 50% 0 no-repeat;

	&:before {
		left: 0;
		right: 0;
		top: -75px;
		content: '';
		z-index: 100;
		height: 127px;
		position: absolute;
		background: url("../img/b02_bottom.png") 50% 0 no-repeat;
	}


	@media (min-width: $screen-md-min) {
		padding-top: 120px;
	}
}