.b01 {
	min-height: 640px;
	padding-top: 65px;

	h1 {
		color: #ff3e3e;
		font-size: 28px;
		font-weight: 900;
		line-height: 36px;
		text-align: center;
		margin-bottom: 30px;
		font-family: $font-core;
		text-transform: uppercase;
	}


	@media (min-width: $screen-sm-min) {

		h1 {
			span {
				display: block;
			}
		}
	}
}