.b04 {

	.benefit {
		background: #fff;
		max-width: 800px;
		position: relative;
		margin: -205px auto 40px auto;
		padding: 30px 20px 5px 20px;
		@include border-radius(15px);
		@include box-shadow(0px 9px 15px 0px rgba(0, 0, 0, 0.16));

		h2 {
			font-size: 30px;
			margin-bottom: 25px;
		}

		ol {
			margin: 0;
			padding: 0;
			list-style: none;
			counter-reset:li;
		}

		li {
			color: #000;
			font-size: 18px;
			font-weight: 700;
			line-height: 22px;
			position: relative;
			font-style: italic;
			margin-bottom: 30px;
			padding: 0px 0 5px 43px;

			&:before {
				top: 0;
				left: 0;
				color: #fff;
				width: 31px;
				height: 33px;
				font-size: 18px;
				line-height: 20px;
				text-align: center;
				position: absolute;
				padding-top: 5px;
				content:counter(li);
				counter-increment:li;
				background: url("../img/list-num-bg.png") 0 0 no-repeat;
			}
		}
	}



	@media (min-width: $screen-sm-min) {

		.benefit {
			padding: 30px 35px 5px 35px;
			@include border-radius(22px);

			h2 {
				font-size: 30px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.benefit {
			margin-bottom: 125px;

			&:before {
				top: -80px;
				right: -30px;
				width: 83px;
				height: 139px;
				content: ' ';
				position: absolute;
				background: url("../img/benefit-img.png") 0 0 no-repeat;
			}
		}
	}
}