.b05 {
	padding-top: 30px;
	padding-bottom: 50px;
	background: #c4d1f7 url("../img/b05_bg.jpg") 50% 0 no-repeat;

	h2 {
		margin-bottom: 60px;
	}

	.review {
		max-width: 460px;
		margin: 0 auto;

		.review-item {
			display: block;
			margin-bottom: 20px;
			@include box-shadow(1px 1px 5px 0px rgba(0, 0, 0, 0.3));
		}
	}

	@media (min-width: $screen-sm-min) {

		h2 {
			font-size: 40px;
		}

		.review {
			max-width: 940px;
		}
	}

	@media (min-width: $screen-md-min) {
	}
}
