.b02 {
	padding-top: 80px;
	position: relative;
	padding-bottom: 50px;
	background: #c4d1f7 url("../img/point2.png");

	&.short {
		height: 140px;
		background: url("../img/short.png") 50% 0 no-repeat;

		&:after,
		&:before {
			display: none;
		}
	}

	&:before {
		top: 0;
		left: 0;
		right: 0;
		content: '';
		height: 275px;
		position: absolute;
		background: url("../img/b02_pattern.png") 50% 0 no-repeat;
	}

	&:after {
		bottom: -22px;
		left: 0;
		right: 0;
		content: '';
		z-index: 100;
		height: 127px;
		position: absolute;
		background: url("../img/b02_bottom.png") 50% 0 no-repeat;
	}

	h2 {
		margin-bottom: 40px;
	}

	.features {
		margin: 0 auto;
		background: #fff;
		max-width: 800px;
		padding: 30px 20px 5px 20px;
		@include border-radius(15px);
		@include box-shadow(0px 9px 15px 0px rgba(0, 0, 0, 0.16));

		li {
			color: #333;
			font-size: 17px;
			line-height: 22px;
			margin-bottom: 30px;

			.item-title {
				color: #000;
				font-size: 20px;
				font-weight: 900;
				padding-top: 5px;
				margin-bottom: 10px;
				font-family: $font-core;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.features {
			padding: 30px 35px 5px 35px;
			@include border-radius(22px);
		}
	}
}