@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);

@font-face {
	font-family:'CoreRhino';
	src: url('../fonts/CoreRhino35Light/CoreRhino35Light.eot');
	src: url('../fonts/CoreRhino35Light/CoreRhino35Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CoreRhino35Light/CoreRhino35Light.woff') format('woff'),
	url('../fonts/CoreRhino35Light/CoreRhino35Light.ttf') format('truetype'),
	url('../fonts/CoreRhino35Light/CoreRhino35Light.svg#CoreRhino35Light-Regular') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0008-25CA;
}

@font-face {
	font-family:'CoreRhino';
	src: url('../fonts/CoreRhino55Medium/CoreRhino55Medium.eot');
	src: url('../fonts/CoreRhino55Medium/CoreRhino55Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CoreRhino55Medium/CoreRhino55Medium.woff') format('woff'),
	url('../fonts/CoreRhino55Medium/CoreRhino55Medium.ttf') format('truetype'),
	url('../fonts/CoreRhino55Medium/CoreRhino55Medium.svg#CoreRhino55Medium-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0008-25CA;
}

@font-face {
	font-family:'CoreRhino';
	src: url('../fonts/CoreRhino65Bold/CoreRhino65Bold.eot');
	src: url('../fonts/CoreRhino65Bold/CoreRhino65Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CoreRhino65Bold/CoreRhino65Bold.woff') format('woff'),
	url('../fonts/CoreRhino65Bold/CoreRhino65Bold.ttf') format('truetype'),
	url('../fonts/CoreRhino65Bold/CoreRhino65Bold.svg#CoreRhino65Bold-Regular') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0008-25CA;
}

@font-face {
	font-family:'CoreRhino';
	src: url('../fonts/CoreRhino75Heavy/CoreRhino75Heavy.eot');
	src: url('../fonts/CoreRhino75Heavy/CoreRhino75Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CoreRhino75Heavy/CoreRhino75Heavy.woff') format('woff'),
	url('../fonts/CoreRhino75Heavy/CoreRhino75Heavy.ttf') format('truetype'),
	url('../fonts/CoreRhino75Heavy/CoreRhino75Heavy.svg#CoreRhino75Heavy-Regular') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0008-25CA;
}