.topnav {
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	position: fixed;
	padding-top: 7px;
	padding-bottom: 7px;
	background: rgba(237,237,237, 0.5);

	&.fix-top {
		background: rgba(237,237,237, 1);
	}

	&.open {
		background: rgba(237,237,237, 1);
	}

	.navbar-header {
		overflow: hidden;
		position: relative;

		.navbar-title {
			float: left;
			font-size: 18px;
			font-weight: 700;
			line-height: 40px;
			vertical-align: middle;
		}

		.navbar-button {
			float: right;
			width: 36px;
			height: 36px;
			color: #000;
			outline: none;
			padding: 7px 0;
			cursor: pointer;
			font-size: 18px;
			line-height: 20px;
			text-align: center;
			background: transparent;
			border: 1px solid #000;
			@include border-radius(4px);
			vertical-align: middle;
		}
	}

	.navbar {
		font-size: 0;
		display: none;
		line-height: 0;
		text-align: left;

		> li {
			width: 100%;
			display: inline-block;

			> a {
				width: 100%;
				color: #858585;
				cursor: pointer;
				font-size: 17px;
				font-weight: 400;
				line-height: 20px;
				padding: 8px 15px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				vertical-align: middle;
				font-family: $font-core;

				&:hover {
					color: #000;
				}
			}

			&.active {

				> a {
					color: #000;
					font-weight: 900;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&.open {
			background: rgba(237,237,237, 0.5);
		}

		.navbar-header {
			display: none;
		}

		.navbar {
			display: block;

			> li {
				width: auto;
			}
		}
	}
}