.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	padding: 5px 5px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 900;
	line-height: 24px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(5px);
	@include transition(.3s);
	border-top: 2px solid #ffa676;
	border-bottom: 2px solid #a31717;
	@include gradient-vertical(#ff7e3e, #e1014f);

	&:hover {
		color: #fff;
		text-decoration: none;
		@include gradient-vertical(#fd8062, #ee3359);
	}

	&:active {
		top: 1px;
	}
}
