.form-control {
	margin: 0;
	width: 100%;
	color: #8c8c8c;
	border: none;
	outline: none;
	font-size: 18px;
	line-height: 20px;
	padding: 10px 10px;
	display: inline-block;
	background: #fff;
	@include placeholder(#8c8c8c);
	@include border-radius(5px);
	@include box-shadow(inset 0px 1px 2px 0px rgba(0, 0, 0, 0.6));

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		@include box-shadow(inset 0px 1px 2px 0px rgba(255, 2, 2, 0.4));
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}

.form-block {
	width: 230px;
	margin: 0 auto;
	padding: 17px 20px;
	position: relative;
	@include gradient-vertical(#ddf5a6, #e2f2bf);

	.form-title {
		color: #000;
		font-size: 15px;
		line-height: 18px;
		font-weight: 900;
		text-align: center;
		font-family: $font-core;
		margin: 0 -5px 12px -5px;
	}

	.btn {
		width: 100%;
		margin-top: 10px;
	}



	@media (min-width: $screen-md-min) {

		&:before {
			top: -280px;
			left: -10px;
			right: -10px;
			height: 310px;
			content: ' ';
			position: absolute;
		}

		&.form-girl {

			&:before {
				background: url("../img/girl.png") 50% 0 no-repeat;
			}
		}

		&.form-boy {

			&:before {
				background: url("../img/boy.png") 50% 0 no-repeat;
			}
		}
	}
}